.index-page {
  .page-wrapper {
    margin: 0 auto;
    max-width: rem(1200px);
    font-family: $mainFontRegular;
    font-size: $baseFontSize;
    line-height: 1.4;
    overflow-x: hidden;
  }
}

h1 {
  margin-bottom: rem(20px);
  text-align: center;
}

.chat-frame{
  width: 100%;
  height: 100%;
}