.square-grey.square-container.flex-grid-item.flex-col-min-3.flex-col-max-3
    include ../../components/genious/genious
    include ../../components/feeling/feeling
    include ../../components/moreno/moreno