@import "../../elements/textarea/textarea";
@import "../../elements/simple-button/simple-button";

$chat-divider-color: #DBDBDB;

.chat__container{
  width: 100%;
  height: 100%;
  max-width: rem(768px);
  background-image : url(../img/image-chat-bg.png);
  background-position : center center;
  background-size         : cover;
  background-repeat : no-repeat;
  box-shadow: 0px 6px 20px 0px black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.chat__correspondence-container{
  margin-top : auto;
  max-height: 66.66%;
  border-bottom: 1px solid $chat-divider-color;
  overflow: auto;
}

.chat__avatar-container{
  position: relative;
  width: rem(40px);
  height: rem(40px);
  svg{
    position: absolute;
    z-index: 1;
  }
}
.chat__avatar-img{
  display: none;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.chat__send-message-container{
  flex-shrink: 0;
  min-height: rem(230px);
}

.chat__send-message-form{
  padding : rem(20px);
}

.chat__outgoing-message-container{
  margin-bottom : rem(20px);
  height: rem(130px);
}

.chat__send-message-button{
  min-height: rem(40px);
}

@media screen and (max-height: 380px){
  .chat__send-message-container{
    min-height: rem(100px);
  }
  .chat__outgoing-message-container{
    margin-bottom : rem(20px);
    height: rem(60px);
  }
}