include ../../elements/textarea/textarea
include ../../elements/simple-button/simple-button
include ../../elements/img-png/img-png


.chat__container
    .chat__correspondence-container
        .chat__message-row
            .chat__avatar-container
                include ./img-mask.svg
                +img-png("chat__avatar-img", "", "./img/foto-avatar.png", "фото")

    .chat__send-message-container
        form(id="sendMessageForm", role="form").chat__send-message-form
            +textarea("chat__outgoing-message-container", "", "", "chat__outgoing-message", "", "", "")
            +simple-button("chat__send-message-button", "", "Отправить")