.anketa {
  order: 3;
  margin-left: 3.3px;
  padding-bottom: calc(66.66% - 3.3px); // пропорции блока определяются здесь
  width: calc(66.66% - 3.3px);
}

.anketa__content {
  background-color: $green;
  font-size: $baseFontSize;
  color: $dark-text;
}

ul.anketa__items-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.anketa__item {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  margin-bottom: rem(30px);
  border-bottom: 1px dotted #000000;

  p:nth-last-child(1) {
    text-align: right;
  }
}

.anketa__item-name,
.anketa__item-value {
  position: relative;
  bottom: -5px;
  margin: 0;
  background-color: $green;
}

.anketa__item p {
  display: inline-block;
  max-width: 200px;
}


@media screen and (min-width: 480px) {
  .anketa {
    margin-left: 3px;
    padding-bottom: calc(66.666666% - 4px); // пропорции блока определяются здесь
    width: calc(66.666666% - 3px);
  }
}