section.anketa.square-grid-item
    .anketa__content.square-item-content
        ul.anketa__items-container
            li.anketa__item
                p
                    span.anketa__item-name Фамилия
                p
                    span.anketa__item-value Мамай
            li.anketa__item
                p
                    span.anketa__item-name Имя и отчество
                p
                    span.anketa__item-value Станиславаленина Владимировна
            li.anketa__item
                p
                    span.anketa__item-name Номер полиса выдан заведомо ложный
                p
                    span.anketa__item-value 01354879
            li.anketa__item
                p
                    span.anketa__item-name Дата рождения
                p
                    span.anketa__item-value 01.12.1976
            li.anketa__item
                p
                    span.anketa__item-name Телефон
                p
                    span.anketa__item-value +79254218069